version: "3.3"
   
services:
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  django:
    image: sagartennis/ecomm_app
    command: python ecom-live/manage.py runserver 0.0.0.0:8000
    
    ports:
      - "8000:8000"
    depends_on:
      - db
  nginx:
    image: nginx
    volumes: 
        - "nginx/nginx.conf:/etc/nginx/conf.d/default.conf"
    ports:
      - "80:80"

volumes: 
    nginx_vol: